* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.html, body, .next, .start {
  background-color: #111111;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.header {
  font-family: 'DM Sans', sans-serif;
  color: #ffffff;
  max-width: 80%;
  font-size: 4vw;
  margin-bottom: 0;
}

.logo {
  width: 15vw;
  margin-bottom: 4%;
}

.sub-head {
  font-family: 'DM Sans', sans-serif;
  color: #BDB6B6;
  font-weight: 400;
  font-size: 1.6vw;
  max-width: 70%;
  margin-top: 1em;
}

.signup:hover {
  background: none;
}

.highlight {
  background-color: #1593C7;
  font-family: 'DM Sans', sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(80%, #1593C7), to(#30BEDD));
  background-image: linear-gradient(90deg, #1593C7 80%, #30BEDD 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  max-width: 80%;
  font-size: 4vw;
  margin-bottom: 0;
}

.hero {
  margin: 0 5vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.big-circles {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: infinite-rotation 120s infinite;
          animation: infinite-rotation 120s infinite;
}

.big-circle {
  position: inherit;
  display: block;
  width: 40vw;
  height: 40vw;
  background: #1f0a55;
  margin-top: -150px;
  margin-left: -250px;
  border-radius: 150vw;
  -webkit-animation: bigcircle 1.6s ease-in-out alternate;
  animation: bigcircle 1.6s ease-in-out alternate;
}

.big-circle:nth-child(1) {
  top: 12%;
  left: 4%;
  background-color: #30bddd07;
}

.big-circle:nth-child(2) {
  display: block;
  top: 50%;
  background-color: #30bddd07;
  left: 84%;
}

.big-circle:nth-child(3) {
  display: block;
  background-color: #30bddd07;
  top: 110%;
  left: 0%;
}

@-webkit-keyframes smallcircle {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes smallcircle {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes bigcircle {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bigcircle {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes infinite-rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes infinite-rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.page {
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.button {
  position: relative;
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  -webkit-transition: color 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: color 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  font-family: 'DM Mono', monospace;
  color: #ffffff;
  font-size: 1.2vw;
  border: none;
  background: none;
  width: auto;
  height: auto;
  padding: 1.2em;
  border-radius: 1.2vw;
  margin-top: 3em;
  border-color: #1593C7;
  border: solid #1593C7;
}

.button::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(80%, #1593C7), to(#30BEDD));
  background: linear-gradient(90deg, #1593C7 80%, #30BEDD 100%);
  z-index: -100;
  width: auto;
  height: auto;
  padding: 1.2em;
  border-radius: 1vw;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: -webkit-transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9), -webkit-transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
}

.button:hover.button-start {
  color: #ffffff;
}

.button:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.button-text {
  position: relative;
}

/* Transition
 -----------------------------*/
.page-enter-active {
  overflow: hidden;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95), -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
}

.page-enter-active .enter-1 {
  -webkit-transition: 300ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: 300ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-delay: 520ms;
          transition-delay: 520ms;
}

.page-enter {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.page-enter .enter-1 {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.page-leave-active {
  display: block;
}

.page-enter-active {
  overflow: hidden;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95), -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
}

.page-enter-active .enter-2 {
  -webkit-transition: 300ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: 300ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-delay: 640ms;
          transition-delay: 640ms;
}

.page-enter {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.page-enter .enter-2 {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.page-leave-active {
  display: block;
}

.page-enter-active {
  overflow: hidden;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95), -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
}

.page-enter-active .enter-3 {
  -webkit-transition: 300ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: 300ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-delay: 760ms;
          transition-delay: 760ms;
}

.page-enter {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.page-enter .enter-3 {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.page-leave-active {
  display: block;
}

.page-enter-active {
  overflow: hidden;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95), -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
}

.page-enter-active .enter-4 {
  -webkit-transition: 300ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: 300ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-delay: 880ms;
          transition-delay: 880ms;
}

.page-enter {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.page-enter .enter-4 {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.page-leave-active {
  display: block;
}

.page-enter-active {
  overflow: hidden;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
  transition: transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95), -webkit-transform 400ms cubic-bezier(0.4, 0.1, 0.7, 0.95);
}

.page-enter-active .enter-5 {
  -webkit-transition: 300ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: 300ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
}

.page-enter {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.page-enter .enter-5 {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.page-leave-active {
  display: block;
}

.center {
  position: fixed;
  width: 60%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
}

.form-head {
  color: #30BEDD;
  font-family: 'DM Sans', sans-serif;
  font-size: 4vw;
}

#detail-form input[type=text] {
  padding: 1vw 1vw;
  width: 70%;
  background-color: #333333;
  border-radius: 5px;
  color: #fff;
  font-size: 1vmax;
  border: none;
  margin-bottom: 2vw;
}

#detail-form input[type=email] {
  padding: 1vw 1vw;
  width: 70%;
  color: #fff;
  background-color: #333333;
  border-radius: 5px;
  border: none;
  font-size: 1vmax;
  margin-bottom: 1vw;
}

#detail-form input[type=checkbox] {
  margin-top: 2vw;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 1vw;
  height: 1vw;
}

.button-next {
  border: none;
}

.button-next svg {
  width: 10vw;
  height: 5vw;
}

#btn {
  position: relative;
  height: 60px;
  width: 200px;
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  -webkit-transition: color 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: color 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  font-family: 'DM Mono', monospace;
  color: #ffffff;
  font-size: 1.2vw;
  border: none;
  background: none;
  border-radius: 1.2vw;
  margin-top: 2em;
  height: 4vw;
  width: 10vw;
  border-color: #1593C7;
  border: solid #1593C7;
}

#btn::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(80%, #1593C7), to(#30BEDD));
  background: linear-gradient(90deg, #1593C7 80%, #30BEDD 100%);
  z-index: -100;
  border-radius: 01vw;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: -webkit-transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transition: transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9), -webkit-transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
}

#btn:hover.button-start {
  color: #ffffff;
}

#btn:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#btn-text {
  position: relative;
}

.container {
  cursor: pointer;
  font-size: 1vw;
  color: #30BEDD;
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .logo {
    width: 30vw;
  }
  .header, .highlight {
    font-size: 6vw;
  }
  .sub-head {
    font-size: 2.5vw;
  }
  .button {
    font-size: 1.8vw;
  }
  .form-head {
    font-size: 5vw;
  }
  #detail-form input[type=text] {
    width: 70%;
    font-size: 2vw;
    padding: 2vw 4vw;
  }
  #detail-form input[type=email] {
    width: 70%;
    font-size: 2vw;
    padding: 2vw 4vw;
  }
  #detail-form input[type=checkbox] {
    width: 2vw;
    height: 2vw;
    padding: 0;
    margin: 0;
    margin-top: 2em;
    margin-right: 0.4em;
  }
  .container {
    width: 100vw;
    font-size: 2vw;
    line-height: 1px;
  }
  #btn {
    font-size: 2vw;
    padding: 1em;
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 640px) {
  .header, .highlight {
    font-size: 8vw;
  }
  .sub-head {
    font-size: 3.5vw;
    line-height: 5vw;
  }
  .big-circle {
    width: 80vw;
    height: 80vw;
  }
  .logo {
    width: 30vw;
  }
  .button {
    font-size: 2.5vw;
    letter-spacing: 2px;
  }
  .form-head {
    font-size: 8vw;
  }
  #detail-form input[type=text] {
    width: 100%;
    font-size: 3vw;
    padding: 3vw 5vw;
  }
  #detail-form input[type=email] {
    width: 100%;
    font-size: 3vw;
    padding: 3vw 5vw;
  }
  #detail-form input[type=checkbox] {
    width: 3vw;
    height: 3vw;
    padding: 0;
    margin: 0;
    margin-top: 2em;
    margin-right: 0.4em;
  }
  .container {
    width: 100vw;
    font-size: 2.7vw;
    line-height: 1px;
  }
  .button-next {
    border: none;
  }
  .button-next svg {
    width: 15vw;
    height: 10vw;
  }
  #btn {
    font-size: 3vw;
    padding: 1em;
    height: auto;
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */