$bgcolor : #111111;
$accentlight : #30BEDD;
$accentdark : #1593C7; 
$circlecolor : #30bddd07;
$textsize : 4vw;

*{
    box-sizing: border-box;
}

.html, body, .next, .start{
    background-color: $bgcolor;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.header{
    font-family: 'DM Sans', sans-serif;
    color: #ffffff;
    max-width: 80%;
    font-size: $textsize;
    margin-bottom: 0;
}

.logo{
    width: 15vw;
    margin-bottom: 4%;
}

.sub-head{
    font-family: 'DM Sans', sans-serif;
    color : #BDB6B6;
    font-weight: 400;
    font-size: 1.6vw;
    max-width: 70%;
    margin-top: 1em;
}

.signup:hover{
    background: none;
}

.highlight{
    background-color: $accentdark;
    font-family: 'DM Sans', sans-serif;
    background-image: linear-gradient(90deg,  $accentdark 80%, $accentlight 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    max-width: 80%;
    font-size: $textsize;
    margin-bottom: 0;
}

.hero{
    margin: 0 5vw;
    position: absolute;
    top : 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.big-circles {   
  position: absolute;
  width: 100%;
  height: 100%;
  animation: infinite-rotation 120s infinite;
  
}
.big-circle {
  position: inherit;
  display:block;
  width: 40vw;
  height: 40vw;
  background: #1f0a55;
  margin-top: -150px;
  margin-left: -250px;
  border-radius: 150vw;
  -webkit-animation: bigcircle 1.6s ease-in-out alternate;
  -moz-animation: bigcircle 1.6s ease-in-out alternatee;
  animation: bigcircle 1.6s ease-in-out alternate;
}

.big-circle:nth-child(1) {
    top: 12%;
    left: 4%;
    background-color: $circlecolor;
}
.big-circle:nth-child(2) {
    display: block;
    top: 50%;
    background-color: $circlecolor;
    left: 84%;
}
.big-circle:nth-child(3) {
  display:block;
  background-color: $circlecolor;
  top: 110%;
  left: 0%;
}


@keyframes smallcircle {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bigcircle {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes infinite-rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.page {
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.button {
    position: relative;
    // height: 60px;
    // width: 300px;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: color 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9); 
    font-family: 'DM Mono', monospace;
    color: #ffffff;
    font-size: 1.2vw;

    border: none;
    background: none;
    width: auto;
    height: auto;
    padding: 1.2em;
    border-radius: 1.2vw;
    margin-top: 3em;
    border-color: $accentdark;
    border: solid $accentdark;
    
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(90deg,  $accentdark 80%,$accentlight 100%);
      z-index: -100;
      width: auto;
      height: auto;
      padding: 1.2em;
      border-radius: 1vw;
     
      transform: scaleX(0);
      transform-origin: left center;
      transition: transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
    }
    
    &:hover {
      &.button-start {
        color: #ffffff;
      }
      
      
      &::before {
        transform: scaleX(1)
      }
    }
    
    &-text {
      position: relative;
    }
  }
  
.footer-text{
  color: #BDB6B6;
  z-index: 1000;
  p{
    color: #1593C7;
    background-color: #1593C7;
  }
}


/* Transition
 -----------------------------*/
@for $i from 1 through 5 {
  $enter-delay: 400ms;
  
  .page-enter-active {
    overflow: hidden;
    transition: transform $enter-delay cubic-bezier(0.4, 0.1, 0.7, 0.95);
    
    .enter-#{$i} {
      transition: 300ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
      transition-property: opacity, transform;
      transition-delay: #{120ms * $i + $enter-delay};
    }
  }
  
  .page-enter {
    transform: translateX(100%);
    
    .enter-#{$i} {
      opacity: 0;
      transform: translateX(50px);
    }
  }
  
  .page-leave-active {
    display: block;
  }
}

.center{
    position: fixed;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    margin: auto;
}

.form-head{
    color: $accentlight;
    font-family: 'DM Sans', sans-serif;
    font-size: 4vw;
}



#detail-form{
    
    input[type=text]{
        padding: 1vw 1vw;
        width: 70%;
        background-color: #333333;
        border-radius: 5px;
        color: #fff;
        font-size: 1vmax;
        border: none;
        margin-bottom: 2vw;
    }

    input[type=email]{
        padding: 1vw 1vw;
        width: 70%; 
        color: #fff;
        background-color: #333333;
        border-radius: 5px;
        border: none;
        font-size: 1vmax;
        margin-bottom: 1vw;
    }

    input[type=checkbox]{
        margin-top: 2vw;
        margin-right: 10px;
        margin-bottom: 20px;
        width: 1vw;
        height: 1vw;
    } 
}

.button-next{
    border: none;

    svg{
        width: 10vw;
        height: 5vw;
    }
}

#btn{
    position: relative;
    height: 60px;
    width: 200px;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: color 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9); 
    font-family: 'DM Mono', monospace;
    color: #ffffff;
    font-size: 1.2vw;
    border: none;
    background: none;
    // padding: 1.2em;
    border-radius: 1.2vw;
    margin-top: 2em;
    height: 4vw;
    width: 10vw;
    // height: auto;
    // width: auto;
    border-color: $accentdark;
    border: solid $accentdark;
    
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(90deg,  $accentdark 80%,$accentlight 100%);
      z-index: -100;
      border-radius: 01vw;
      transform: scaleX(0);
      transform-origin: left center;
      transition: transform 150ms cubic-bezier(0.1, 0.7, 0.6, 0.9);
    }
    
    &:hover {
      &.button-start {
        color: #ffffff;
      }
      
      
      &::before {
        transform: scaleX(1)
      }
    }
    
    &-text {
      position: relative;
    }
  }

.container {
    cursor: pointer;
    font-size: 1vw;
    color: $accentlight;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
.form{
    text-align: center;
    align-content: center;
    align-self: center;
    width: 100%;
    margin: auto;
}
 

  //tablet screens
  @media only screen and (min-width: 600px) and (max-width : 1000px) {
    .logo{
      width: 30vw;
    }

    .header, .highlight{
      font-size: 6vw;
    }

    .sub-head{
      font-size: 2.5vw;
    }

    .button{
     font-size: 1.8vw;
    }

    .form-head{
      font-size: 5vw;
    }

    #detail-form{
      input[type=text]{
        width: 70%;
        font-size: 2vw;
        padding: 2vw 4vw;
      }

      input[type=email]{
        width: 70%;
        font-size: 2vw;
        padding: 2vw 4vw;
      }

      input[type=checkbox]{
        width: 2vw;
        height: 2vw;
        padding: 0;
        margin: 0;
        margin-top: 2em;
        margin-right: 0.4em;
      }
    }

    .container{
      width: 100vw;
      font-size: 2vw;
      line-height: 1px;
    }

    #btn{
      font-size: 2vw;
      padding: 1em;
      height: auto;
      width: auto;
    }

  }

  //mobile screens
  @media only screen and (max-width: 640px) {
    .header, .highlight{
      font-size: 8vw;
    }

    .sub-head{
      font-size: 3.5vw;
      line-height: 5vw;
    }

    .big-circle{
      width: 80vw;
      height: 80vw;
    }

    .logo{
      width: 30vw
    }

    .button{
      font-size: 2.5vw;
      letter-spacing: 2px;
    }

    .form-head{
      font-size: 8vw;
    }

    #detail-form{
      input[type=text]{
        width: 100%;
        font-size: 3vw;
        padding: 3vw 5vw;
      }

      input[type=email]{
        width: 100%;
        font-size:3vw;
        padding: 3vw 5vw;
      }

      input[type=checkbox]{
        // width: 100%;
        width: 3vw;
        height: 3vw;
        padding: 0;
        margin: 0;
        margin-top: 2em;
        margin-right: 0.4em;
      }
    }

    .container{
      width: 100vw;
      font-size: 2.7vw;
      line-height: 1px;
    }

    .button-next{
      border: none;
  
      svg{
          width: 15vw;
          height: 10vw;
      }
  }

    #btn{
      font-size: 3vw;
      padding: 1em;
      height: auto;
      width: auto;
    }
  }